<div class="row">
    <div class="col-md-12">
        <h2>{{employee.firstName}} {{ employee.lastName}} -Employee: {{ employee.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"><label for="firstName">First Name:</label><input class="form-control"
                                id="firstName" name="firstName" type="text" value="{{ employee.firstName}}" /></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><label for="lastName">Last Name:</label><input class="form-control"
                                id="lastName" name="lastName" type="text" value="{{ employee.lastName}}" /></div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"><label for="firstName">Email:</label><input class="form-control"
                                id="firstName" name="firstName" type="text" value="{{ employee.firstName}}" /></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"><label for="lastName">Social Security Num:</label><input
                                class="form-control" id="lastName" name="lastName" type="text"
                                value="{{ employee.lastName}}" /></div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="firstName">Address (Street):</label><input
                                class="form-control" id="firstName" name="firstName" type="text"
                                value="{{ employee.firstName}}" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="lastName">Address (City):</label><input class="form-control"
                                id="lastName" name="lastName" type="text" value="{{ employee.lastName}}" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="firstName">Address (State):</label><input
                                class="form-control" id="firstName" name="firstName" type="text"
                                value="{{ employee.firstName}}" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="lastName">Address (Zip Code):</label><input
                                class="form-control" id="lastName" name="lastName" type="text"
                                value="{{ employee.lastName}}" /></div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"><label for="firstName">Manager:</label><input class="form-control"
                                id="firstName" name="firstName" type="text" value="{{ employee.firstName}}" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="lastName">Employee's Manager Number:</label><input
                                class="form-control" id="lastName" name="lastName" type="text"
                                value="{{ employee.lastName}}" /></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="lastName">Department</label><input class="form-control" <div
                                class="col-md-3 form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label for="lastName">Department</label><input class="form-control"
                                id="lastName" name="lastName" type="text" value="{{ employee.lastName}}" /></div>
                    </div>
                </div>








            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
</div>