<div class="row">
    <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
    <div class="col-md-12">
        <h2>Employees</h2>


        <hr />
        <table class="table style=" margin-right=-20px;"">
            <thead>
                <tr>
                    <th scope="col">Employee Num </th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Manager ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Department</th>
                    <th scope="col">Hired On</th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <th scope="row">{{this.employeeNum}}</th>
                    <td><a href="/employee/{{this.employeeNum}}"> {{this.firstName}} {{this.lastName}}</a></td>
                    <td><a href="mailto: {{this.email}}">{{this.email}}</a></td>
                    <td>{{this.addressStreet}}{{this.addressCity}}{{this.addressState}}{{this.addressPostal}}</td>
                    <td><a href="/employees?manager={{this.employeeManagerNum}}">{{this.employeeManagerNum}}</a> </td>
                    <td> <a href="/employees?status={{this.status}}">{{this.status}}</a></td>
                    <td><a href="/employees?department={{this.department}}">{{this.department}}</a></td>
                    <td>{{this.hireDate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#unless employees}}
    <strong>{{message}}</strong>
    {{/unless}}
</div>


{{!-- <td>
    {{#if {{this.status}}=='Full Time'
    <a href="/employees?status='Full Time'">{{this.status}}</a>
    {{else}}
    <a href="/employees?status='Part Time'">{{this.status}}</a>

    {{/if}}
</td> --}}